
<!--<!doctype html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <title>CMS QUẢN LÝ BỆNH NHÂN</title>-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->

<!--    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">-->

<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->
<!--    <link rel="stylesheet" href="css/style.css">-->

<!--    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">-->
<!--    <link rel="stylesheet" href="fonts/fontawesome-all.min.css">-->
<!--    <link rel="stylesheet" href="fonts/font-awesome.min.css">-->
<!--    <link rel="stylesheet" href="fonts/fontawesome5-overrides.min.css">-->
<!--    <link rel="stylesheet"-->
<!--          href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/css/theme.bootstrap_4.min.css">-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">-->
<!--    <link rel="stylesheet" href="css/Ludens---1-Index-Table-with-Search--Sort-Filters-v20.css">-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"-->
<!--          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
<!--</head>-->
<!--<body>-->

<!--<div class="wrapper d-flex align-items-stretch">-->
<!--    <nav id="sidebar">-->
<!--        <div class="custom-menu">-->
<!--            <button type="button" id="sidebarCollapse" class="btn btn-primary">-->
<!--                <i class="fa fa-bars"></i>-->
<!--                <span class="sr-only">Toggle Menu</span>-->
<!--            </button>-->
<!--        </div>-->
<!--        <div class="p-4 pt-5">-->
<!--            <h1><a href="index.html" class="logo">Xin chào</a></h1>-->
<!--            <ul class="list-unstyled components mb-5">-->
<!--                <li class="active">-->
<!--                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Bệnh-->
<!--                        nhân</a>-->
<!--                    <ul class="collapse list-unstyled" id="homeSubmenu">-->
<!--                        <li>-->
<!--                            <a href="/list-patients">Danh Sách Bệnh Nhân</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="/add-patient">Thêm Bệnh Nhân</a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="/list">Danh Sách Bác Sĩ</a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"-->
<!--                       class="dropdown-toggle">Pages</a>-->
<!--                    <ul class="collapse list-unstyled" id="pageSubmenu">-->
<!--                        <li>-->
<!--                            <a href="">Page 1</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#">Page 2</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#">Page 3</a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="/login">Đăng Xuất</a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="#">Phản Hồi</a>-->
<!--                </li>-->
<!--            </ul>-->

<!--            <div class="mb-5">-->
<!--                <h3 class="h6">Subscribe for newsletter</h3>-->
<!--                <form action="#" class="colorlib-subscribe-form">-->
<!--                    <div class="form-group d-flex">-->
<!--                        <div class="icon"><span class="icon-paper-plane"></span></div>-->
<!--                        <input type="text" class="form-control" placeholder="Enter Email Address">-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </nav>-->

<!--    &lt;!&ndash; Page Content  &ndash;&gt;-->
<!--    <div id="content" class="p-4 p-md-5 pt-5">-->
<!--        <div class="container-fluid">-->
<!--            <div class="card" id="TableSorterCard">-->
<!--                <div class="card-header py-2">-->
<!--                    <div class="row table-topper align-items-center">-->
<!--                        <div class="col-12 col-sm-5 col-md-6 text-start" style="margin: 0px;padding: 5px 15px;">-->
<!--                            <p class="text-primary m-0 fw-bold">Danh sách bác sĩ</p>-->
<!--                        </div>-->
<!--                        <div class="col-12 col-sm-7 col-md-6 text-end" style="margin: 0px;padding: 5px 15px;">-->
<!--                            <button class="btn btn-primary btn-sm reset" type="button" style="margin: 2px;">Tùy Chỉnh-->
<!--                            </button>-->
<!--                            <button class="btn btn-warning btn-sm" id="zoom_in" type="button"-->
<!--                                    zoomclick="ChangeZoomLevel(-10);"-->
<!--                                    style="margin: 2px;"><i class="fa fa-search-plus"></i></button>-->
<!--                            <button class="btn btn-warning btn-sm" id="zoom_out" type="button"-->
<!--                                    zoomclick="ChangeZoomLevel(-10);"-->
<!--                                    style="margin: 2px;"><i class="fa fa-search-minus"></i></button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="row">-->
<!--                    <div class="col-12">-->
<!--                        <div class="table-responsive">-->
<!--                            <table class="table table-striped table tablesorter" id="ipi-table">-->
<!--                                <thead class="thead-dark">-->

<!--                                <tr>-->
<!--                                    <th class="column1">Ảnh</th>-->
<!--                                    <th class="column2">ID</th>-->
<!--                                    <th class="column2">Họ Và Tên</th>-->
<!--                                    <th class="column3">UserName</th>-->
<!--                                    <th class="column4">PassWord</th>-->
<!--                                    <th class="column5">Trạng Thái</th>-->
<!--                                </tr>-->
<!--                                </thead>-->
<!--                                {{#each docs}}-->
<!--                                    <tbody>-->

<!--                                    <tr>-->
<!--                                        <td class="column1"><img class="rounded-circle me-2" width="30" height="30"-->
<!--                                                                 src="img/avatars/avatar{{this.id}}.jpeg"/></td>-->
<!--                                        <td class="column2">{{this.id}}</td>-->
<!--                                        <td class="column3">{{this.name}}</td>-->
<!--                                        <td class="column4">{{this.username}}</td>-->
<!--                                        <td class="column5">{{this.password}}</td>-->
<!--                                        {{#if this.state}}-->
<!--                                            <td><a href="#" class="btn btn-success">{{this.state}}</a></td>-->
<!--                                        {{else}}-->
<!--                                            <td><a href="#" class="btn btn-danger">{{this.state}}</a></td>{{/if}}-->

<!--                                    </tr>-->
<!--                                    </tbody>-->
<!--                                {{/each}}-->
<!--                            </table>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"-->
<!--        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"-->
<!--        crossorigin="anonymous"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"-->
<!--        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"-->
<!--        crossorigin="anonymous"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"-->
<!--        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"-->
<!--        crossorigin="anonymous"></script>-->
<!--<script src="bootstrap/js/bootstrap.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/jquery.tablesorter.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-filter.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-storage.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>-->
<!--<script src="js/Ludens---1-Index-Table-with-Search--Sort-Filters-v20-1.js"></script>-->
<!--<script src="js/Ludens---1-Index-Table-with-Search--Sort-Filters-v20.js"></script>-->
<!--&lt;!&ndash;<script src="js/jquery.min.js"></script>&ndash;&gt;-->
<!--<script src="js/popper.js"></script>-->
<!--<script src="js/bootstrap.min.js"></script>-->
<!--<script src="js/main.js"></script>-->
<!--</body>-->
<!--</html>-->
<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center">
            <img src="assets/img/logo.png" alt="">
            <span class="d-none d-lg-block">NiceAdmin</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
        <form class="search-form d-flex align-items-center" method="POST" action="#">
            <input type="text" name="query" placeholder="Search" title="Enter search keyword">
            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
        </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

            <li class="nav-item d-block d-lg-none">
                <a class="nav-link nav-icon search-bar-toggle " href="#">
                    <i class="bi bi-search"></i>
                </a>
            </li><!-- End Search Icon-->

            <li class="nav-item dropdown">

                <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-bell"></i>
                    <span class="badge bg-primary badge-number">4</span>
                </a><!-- End Notification Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                    <li class="dropdown-header">
                        You have 4 new notifications
                        <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-exclamation-circle text-warning"></i>
                        <div>
                            <h4>Lorem Ipsum</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>30 min. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-x-circle text-danger"></i>
                        <div>
                            <h4>Atque rerum nesciunt</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>1 hr. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-check-circle text-success"></i>
                        <div>
                            <h4>Sit rerum fuga</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>2 hrs. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-info-circle text-primary"></i>
                        <div>
                            <h4>Dicta reprehenderit</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>4 hrs. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li class="dropdown-footer">
                        <a href="#">Show all notifications</a>
                    </li>

                </ul><!-- End Notification Dropdown Items -->

            </li><!-- End Notification Nav -->

            <li class="nav-item dropdown">

                <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-chat-left-text"></i>
                    <span class="badge bg-success badge-number">3</span>
                </a><!-- End Messages Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
                    <li class="dropdown-header">
                        You have 3 new messages
                        <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="message-item">
                        <a href="#">
                            <img src="assets/img/messages-1.jpg" alt="" class="rounded-circle">
                            <div>
                                <h4>Maria Hudson</h4>
                                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                <p>4 hrs. ago</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="message-item">
                        <a href="#">
                            <img src="assets/img/messages-2.jpg" alt="" class="rounded-circle">
                            <div>
                                <h4>Anna Nelson</h4>
                                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                <p>6 hrs. ago</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="message-item">
                        <a href="#">
                            <img src="assets/img/messages-3.jpg" alt="" class="rounded-circle">
                            <div>
                                <h4>David Muldon</h4>
                                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                <p>8 hrs. ago</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="dropdown-footer">
                        <a href="#">Show all messages</a>
                    </li>

                </ul><!-- End Messages Dropdown Items -->

            </li><!-- End Messages Nav -->

            <li class="nav-item dropdown pe-3">

                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                    <span class="d-none d-md-block dropdown-toggle ps-2">K. Anderson</span>
                </a><!-- End Profile Iamge Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6>Kevin Anderson</h6>
                        <span>Web Designer</span>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                            <i class="bi bi-person"></i>
                            <span>My Profile</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                            <i class="bi bi-gear"></i>
                            <span>Account Settings</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                            <i class="bi bi-question-circle"></i>
                            <span>Need Help?</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Sign Out</span>
                        </a>
                    </li>

                </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->

        </ul>
    </nav><!-- End Icons Navigation -->

</header><!-- End Header -->

<!-- ======= Sidebar ======= -->


<main id="main" class="main">

    <div class="pagetitle">
        <h1>Danh sách bác sĩ</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item">Tables</li>
                <li class="breadcrumb-item active">Data</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Datatables</h5>


                        <!-- Table with stripped rows -->
                        <table class="table datatable">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">ID</th>
                                <th scope="col">Họ Và Tên</th>
                                <th scope="col">UserName</th>
                                <th scope="col">PassWord</th>
                                <th scope="col">Trạng Thái</th>
                            </tr>
                            </thead>
{{#each docs}}
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>{{this.id}}</td>
                                <td>{{this.name}}</td>
                                <td>{{this.username}}</td>
                                <td>{{this.password}}</td>
                                {{#if this.state}}-->
                                                                                <td><a href="#" class="btn btn-success">{{this.state}}</a></td>
                                                                                {{else}}
                                                                                    <td><a href="#" class="btn btn-danger">{{this.state}}</a></td>{{/if}}
                            </tr>
                            </tbody>
{{/each}}
                        </table>
                        <!-- End Table with stripped rows -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>