<!-- ======= Header ======= -->

<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center">
            <img src="assets/img/logo.png" alt="">
            <span class="d-none d-lg-block">Hệ thống quản trị</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
        <form class="search-form d-flex align-items-center" method="POST" action="/dashboard">
            <input type="text" name="query" placeholder="Tìm kiếm" title="Enter search keyword">
            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
        </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
            <li class="nav-item d-block d-lg-none">
                <a class="nav-link nav-icon search-bar-toggle " href="#">
                    <i class="bi bi-search"></i>
                </a>
            </li><!-- End Search Icon-->



        </ul>
    </nav><!-- End Icons Navigation -->

</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " href="/dashboard">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>Bệnh Nhân</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/list-patients">
                        <i class="bi bi-circle"></i><span>Danh Sách Bệnh Nhân</span>
                    </a>
                </li>
                <li>
                    <a href="/add-patient">
                        <i class="bi bi-circle"></i><span>Thêm Bệnh Nhân</span>
                    </a>
                </li>

            </ul>
        </li><!-- End Components Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-journal-text"></i><span>Bác sĩ</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/list">
                        <i class="bi bi-circle"></i><span>Danh sách bác sĩ</span>
                    </a>
                </li>
                <li>
                    <a href="/adddoctor">
                        <i class="bi bi-circle"></i><span>Thêm bác sĩ</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Forms Nav -->







        <li class="nav-heading">Pages</li>



        <li class="nav-item">
            <a class="nav-link collapsed" href="/">
                <i class="bi bi-question-circle"></i>
                <span>F.A.Q</span>
            </a>
            </a>
        </li><!-- End F.A.Q Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="/contact/to">
                <i class="bi bi-envelope"></i>
                <span>Contact</span>
            </a>
        </li><!-- End Contact Page Nav -->






    </ul>

</aside>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Danh sách bệnh nhân</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">Danh sách bệnh nhân</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Danh sách bệnh nhân</h5>
                        <!-- Table with stripped rows -->
                        <table class="table datatable">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">ID</th>
                                <th scope="col">Họ Và Tên</th>
                                <th scope="col">Số điện thoại</th>
                                <th scope="col">Số Phòng</th>
                                <th scope="col">Sự kiện</th>
                            </tr>
                            </thead>
                        <tbody>
{{#each docs}}

                            {{#compare this.state "==" 2}}
                            <tr class="table-warning">
                                <th scope="row"><a href="#">#</a></th>
                                <td>{{this.id}}</td>
                                <td>{{this.name}}</td>
                                <td>{{this.phone}}</td>
                                <td>{{this.number_room}}</td>
                                <td>
                                        <div class="card-body">

                                            <a type="button" href="/{{this._id}}" class="btn btn-secondary">Chi Tiết <i class="bi bi-collection"></i></a>

                                            <a type="button" href="/delete/{{this._id}}" class="btn btn-danger">Xóa <i class="bi bi-exclamation-octagon"></i></a>

<!--                                            <a type="button" href="/list-patients/update/{{this._id}}" class="btn btn-info"><i class="bi bi-info-circle"></i></a>-->

                                        </div>

                                </td>
<!--                              -->
<!--                                    <td><a href="#" class="btn btn-success">{{this.state}}</a></td>-->
<!--                               -->
                            </tr>
                            {{/compare}}
                            {{#compare this.state "==" 1}}
                                <tr class="table-info">
                                    <th scope="row"><a href="#">#</a></th>
                                    <td>{{this.id}}</td>
                                    <td>{{this.name}}</td>
                                    <td>{{this.phone}}</td>
                                    <td>{{this.number_room}}</td>
                                    <td>
                                        <div class="card-body">

                                            <a type="button" href="/{{this._id}}" class="btn btn-secondary">Chi Tiết <i class="bi bi-collection"></i></a>

                                            <a type="button" href="/delete/{{this._id}}" class="btn btn-danger">Xóa <i class="bi bi-exclamation-octagon"></i></a>

                                            <!--                                            <a type="button" href="/list-patients/update/{{this._id}}" class="btn btn-info"><i class="bi bi-info-circle"></i></a>-->

                                        </div>

                                    </td>
                                    <!--                              -->
                                    <!--                                    <td><a href="#" class="btn btn-success">{{this.state}}</a></td>-->
                                    <!--                               -->
                                </tr>
                            {{/compare}}
                            {{#compare this.state "==" 0}}
                                <tr  class="table-success">
                                    <th scope="row"><a href="#">#</a></th>
                                    <td>{{this.id}}</td>
                                    <td>{{this.name}}</td>
                                    <td>{{this.phone}}</td>
                                    <td>{{this.number_room}}</td>
                                    <td>
                                        <div class="card-body">

                                            <a type="button" href="/{{this._id}}" class="btn btn-secondary">Chi Tiết <i class="bi bi-collection"></i></a>

                                            <a type="button" href="/delete/{{this._id}}" class="btn btn-danger">Xóa <i class="bi bi-exclamation-octagon"></i></a>

                                            <!--                                            <a type="button" href="/list-patients/update/{{this._id}}" class="btn btn-info"><i class="bi bi-info-circle"></i></a>-->

                                        </div>

                                    </td>
                                    <!--                              -->
                                    <!--                                    <td><a href="#" class="btn btn-success">{{this.state}}</a></td>-->
                                    <!--                               -->
                                </tr>
                            {{/compare}}
                            {{#compare this.state "==" 3}}
                                <tr  class="table-danger">
                                    <th scope="row"><a href="#">#</a></th>
                                    <td>{{this.id}}</td>
                                    <td>{{this.name}}</td>
                                    <td>{{this.phone}}</td>
                                    <td>{{this.number_room}}</td>
                                    <td>
                                        <div class="card-body">

                                            <a type="button" href="/{{this._id}}" class="btn btn-secondary">Chi Tiết <i class="bi bi-collection"></i></a>

                                            <a type="button" href="/delete/{{this._id}}" class="btn btn-danger">Xóa <i class="bi bi-exclamation-octagon"></i></a>

                                            <!--                                            <a type="button" href="/list-patients/update/{{this._id}}" class="btn btn-info"><i class="bi bi-info-circle"></i></a>-->

                                        </div>

                                    </td>
                                    <!--                              -->
                                    <!--                                    <td><a href="#" class="btn btn-success">{{this.state}}</a></td>-->
                                    <!--                               -->
                                </tr>
                            {{/compare}}


{{/each}}
                        </tbody>
                        </table>
                        <!-- End Table with stripped rows -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>Quản Lý Bệnh Nhân</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->

    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
