<!--<head>-->
<!--    <meta charset="utf-8">-->
<!--    &lt;!&ndash;  This file has been downloaded from bootdey.com @bootdey on twitter &ndash;&gt;-->
<!--    &lt;!&ndash;  All snippets are MIT license http://bootdey.com/license &ndash;&gt;-->
<!--    <title>about me - Bootdey.com</title>-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--    <link href="css/modal.scss" rel="stylesheet">-->
<!--    &lt;!&ndash; <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">-->
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script> &ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">-->
<!--    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">-->
<!--    <link rel="stylesheet" href="css/bootstrap.min.css">-->
<!--    <link rel="stylesheet" href="css/mdb.min.css">-->
<!--    <link rel="stylesheet" href="css/style.css">-->

<!--    <link rel="stylesheet" href="css/bootstrap.min.css">-->
<!--    <link rel="stylesheet" href="material-icons.min.css">-->
<!--    <link rel="stylesheet" href="Profile-with-data-and-skills.css">-->
<!--    <link rel="stylesheet" href="styles.css">-->

<!--    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">-->
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>-->
<!--</head>-->

<!--<div class="d-flex flex-column" id="content-wrapper">-->
<!--    <div class="modal fade" id="modalCart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"-->
<!--         aria-hidden="true">-->
<!--        <div class="modal-dialog" role="document">-->
<!--            <div class="modal-content">-->
<!--                &lt;!&ndash;Header&ndash;&gt;-->
<!--                <div class="modal-header" style="background-color: whitesmoke">-->
<!--                    <h4 class="modal-title" id="myModalLabel">Danh sách bác sĩ nhận hỗ trợ</h4>-->
<!--                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                        <span aria-hidden="true">×</span>-->
<!--                    </button>-->
<!--                </div>-->
<!--                &lt;!&ndash;Body&ndash;&gt;-->

<!--                <div class="modal-body">-->
<!--                    <table class="table table-striped table-responsive-md btn-table">-->
<!--                        <thead>-->
<!--                        <tr>-->
<!--                            <th>ID</th>-->
<!--                            <th>Name</th>-->
<!--                            <th>State</th>-->
<!--                            <th>Selection</th>-->
<!--                        </tr>-->
<!--                        </thead>-->
<!--                        <tbody>-->
<!--                {{#each doctors}}-->
<!--                <tr>-->
<!--                    <th scope="row">{{id}}</th>-->
<!--                    <td id="name">{{name}}</td>-->
<!--                    <td>{{state}}</td>-->
<!--                    <td>-->
<!--                        <a id="sumbmit" href="/updateStatus/{{this._id}}/{{../patient.key_device}}" type="button"-->
<!--                            onclick="document.getElementById('myform').submit();" class="btn btn-danger btn-sm btn-rounded"><i-->
<!--                                class="fas fa-plane pr-2 pt-1" aria-hidden="true"> </i>Gọi hỗ trợ-->
<!--                        </a>-->
<!--                        &lt;!&ndash;                                    $("#sumbmit").click(function () {&ndash;&gt;-->
<!--                        &lt;!&ndash;                                    var name = $("#name").val();&ndash;&gt;-->
<!--                        &lt;!&ndash;                                    swal({&ndash;&gt;-->
<!--                        &lt;!&ndash;                                    title: "Thành công!",&ndash;&gt;-->
<!--                        &lt;!&ndash;                                    text: "Bạn đã gọi bác sĩ thành công",&ndash;&gt;-->
<!--                        &lt;!&ndash;                                    icon: "success",&ndash;&gt;-->
<!--                        &lt;!&ndash;                                    });&ndash;&gt;-->
<!--                        &lt;!&ndash;                                    });&ndash;&gt;-->
<!--                -->
<!--                    </td>-->
<!--                </tr>-->
<!--                {{/each}}-->
<!--                        </tbody>-->

<!--                    </table>-->
<!--                </div>-->

<!--                &lt;!&ndash;Footer&ndash;&gt;-->
<!--                <div class="modal-footer">-->
<!--                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--&lt;!&ndash;    //profile new&ndash;&gt;-->
<!--    <div class="container">-->
<!--        <div class="main-body">-->
<!--            &lt;!&ndash; Breadcrumb &ndash;&gt;-->
<!--            <div class="row gutters-sm">-->
<!--                <div class="col-md-4 mb-3">-->
<!--                    <div class="card">-->
<!--                        <div class="card-body">-->
<!--                            <div class="d-flex flex-column align-items-center text-center">-->
<!--                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin"-->
<!--                                     class="rounded-circle" width="150">-->
<!--                                <div class="mt-3">-->
<!--                                    <h4>{{patient.name}}</h4>-->
<!--                                    <p class="text-secondary mb-1">{{patient.id}}</p>-->
<!--                                    &lt;!&ndash;                                    <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p>&ndash;&gt;-->

<!--                                    <button type="button" class="btn btn-danger btn-sm btn-rounded"-->
<!--                                            data-toggle="modal"-->
<!--                                            data-target="#modalCart"><i class="fas fa-plane pr-2 pt-1"-->
<!--                                                                        aria-hidden="true"></i>Gọi hỗ-->
<!--                                        trợ-->
<!--                                    </button>-->

<!--                                    &lt;!&ndash;                                    <button class="btn btn-primary">Follow</button>&ndash;&gt;-->
<!--                                    <button class="btn btn-outline-primary">Camera</button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                </div>-->
<!--                <div class="col-md-8">-->
<!--                    <div class="card mb-3">-->
<!--                        <div class="card-body">-->
<!--                            <div class="row">-->
<!--                                <div class="col-sm-3">-->
<!--                                    <h6 class="mb-0">Họ và tên</h6>-->
<!--                                </div>-->
<!--                                <div class="col-sm-9 text-secondary">-->
<!--                                    {{patient.name}}-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <hr>-->
<!--                            <div class="row">-->
<!--                                <div class="col-sm-3">-->
<!--                                    <h6 class="mb-0">Key thiết bị</h6>-->
<!--                                </div>-->
<!--                                <div class="col-sm-9 text-secondary">-->
<!--                                    {{patient.key_device}}-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <hr>-->
<!--                            <div class="row">-->
<!--                                <div class="col-sm-3">-->
<!--                                    <h6 class="mb-0">Số điên thoại</h6>-->
<!--                                </div>-->
<!--                                <div class="col-sm-9 text-secondary">-->
<!--                                    {{patient.phone}}-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <hr>-->
<!--                            <div class="row">-->
<!--                                <div class="col-sm-3">-->
<!--                                    <h6 class="mb-0">Tên đăng nhập</h6>-->
<!--                                </div>-->
<!--                                <div class="col-sm-9 text-secondary">-->
<!--                                    {{patient.username}}-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <hr>-->
<!--                            <div class="row">-->
<!--                                <div class="col-sm-3">-->
<!--                                    <h6 class="mb-0">Phòng</h6>-->
<!--                                </div>-->
<!--                                <div class="col-sm-9 text-secondary">-->
<!--                                    {{patient.number_room}}-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <hr>-->
<!--                            <div class="row">-->
<!--                                <div class="col-sm-3">-->
<!--                                    <h6 class="mb-0">Tuổi</h6>-->
<!--                                </div>-->
<!--                                <div class="col-sm-9 text-secondary">-->
<!--                                    {{patient.age}}-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="row">-->
<!--                                <div class="col-sm-12">-->
<!--                                    <a class="btn btn-info " target="__blank" href="">Sửa</a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="row gutters-sm">-->
<!--                        <div class="col-sm-6 mb-3">-->
<!--                            <div class="card h-100">-->
<!--                                <div class="card-body">-->
<!--                                    <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Tình-->
<!--                                        trạng bệnh nhân</i>Project Status</h6>-->
<!--                                    <small>Spo2</small>-->
<!--                                    <div class="progress mb-3" style="height: 5px">-->
<!--                                        <div class="progress-bar bg-primary" role="progressbar" style="width: 80%"-->
<!--                                             aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--                                    </div>-->
<!--                                    <small>Nhịp tim</small>-->
<!--                                    <div class="progress mb-3" style="height: 5px">-->
<!--                                        <div class="progress-bar bg-primary" role="progressbar" style="width: 72%"-->
<!--                                             aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--                                    </div>-->
<!--                                    <small>Nhiệt độ</small>-->
<!--                                    <div class="progress mb-3" style="height: 5px">-->
<!--                                        <div class="progress-bar bg-primary" role="progressbar" style="width: 89%"-->
<!--                                             aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--                                    </div>-->
<!--                                    <small>Kết quả</small>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-sm-6 mb-3">-->
<!--                            <div class="card h-100">-->
<!--                                <div class="card-body">-->
<!--                                    <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Điều-->
<!--                                        trị</i>Project Status</h6>-->
<!--                                    <small>Thở mặt nạ,Thở Oxi</small>-->
<!--                                    <small>Uống thuốc,.....</small>-->
<!--                                    <small>Thở mặt nạ,Thở Oxi</small>-->
<!--                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Thêm lịch trình điều trị</button>-->

<!--                                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--                                        <div class="modal-dialog" role="document">-->
<!--                                            <div class="modal-content">-->
<!--                                                <div class="modal-header">-->
<!--                                                    <h5 class="modal-title" id="exampleModalLabel">New message</h5>-->
<!--                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                                                        <span aria-hidden="true">&times;</span>-->
<!--                                                    </button>-->
<!--                                                </div>-->
<!--                                                <div class="modal-body">-->
<!--                                                    <form method="post" action="/update/treatmentcourse/{{patient.key_device}}">-->
<!--                                                        <div class="form-group">-->
<!--                                                            <label for="recipient-name" class="col-form-label">Recipient:</label>-->
<!--                                                            <input type="text" class="form-control" id="recipient-name" name="input1">-->
<!--                                                        </div>-->
<!--                                                        <div class="form-group">-->
<!--                                                            <label for="message-text" class="col-form-label">Message:</label>-->
<!--                                                            <textarea class="form-control" id="message-text" name="input2"></textarea>-->
<!--                                                        </div>-->
<!--                                                        <div class="modal-footer">-->
<!--                                                            <button type="button" class="btn btn-secondary"  data-dismiss="modal">Close</button>-->
<!--                                                            <button type="submit" class="btn btn-primary">Send message</button>-->
<!--                                                        </div>-->
<!--                                                    </form>-->
<!--                                                </div>-->

<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--        </div>-->
<!--    </div>-->
<!--&lt;!&ndash;    //table new&ndash;&gt;-->
<!--    <div class="row">-->
<!--        <div class="col-lg-10 mx-auto bg-white rounded shadow">-->
<!--            &lt;!&ndash; Fixed header table&ndash;&gt;-->
<!--            <div class="table-responsive">-->
<!--                <table class="table table-fixed">-->
<!--                    <thead>-->
<!--                    <tr>-->
<!--                        <th scope="col" class="col-3" style="color: #000000;">Nhiệt độ&nbsp;</th>-->
<!--                        <th scope="col" class="col-3" style="color: #000000;">SPO2</th>-->
<!--                        <th scope="col" class="col-3" style="color: #000000;">Nhịp tim</th>-->
<!--                        <th scope="col" class="col-3" style="color: #000000;">Thời gian</th>-->
<!--                    </tr>-->
<!--                    </thead>-->
<!--                    <tbody>&ndash;&gt;-->
<!--                    {{#each device}}-->
<!--                        <tr>-->
<!--                            <td style="margin-top: 50px">-->
<!--                                {{#each this.heart}}-->
<!--                                    <div style="margin-top: 50px"><b>Nhịp tim:</b>{{this.value}} nhịp/phút-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash;                                                    <div style="margin-top: 50px">real time:{{this.real_time}}</div>&ndash;&gt;-->
<!--                                    <hr/>-->
<!--                                {{/each}}-->
<!--                            </td>-->
<!--                            <td style="margin-top: 50px">-->
<!--                                {{#each this.spO2}}-->
<!--                                    <div style="margin-top: 50px"><b>SpO2:</b>{{this.value}} %</div>-->
<!--                                    &lt;!&ndash;                                                    <div style="margin-top: 50px">real time:{{this.real_time}}</div>&ndash;&gt;-->
<!--                                    <hr/>-->
<!--                                {{/each}}-->
<!--                            </td>-->
<!--                            <td style="margin-top: 50px">-->
<!--                                {{#each this.temp}}-->
<!--                                    <div style="margin-top: 50px"><b>Nhiệt độ:</b>{{this.value}} *C</div>-->
<!--                                    &lt;!&ndash;                                                    <div style="margin-top: 50px">real time:{{this.real_time}}</div>&ndash;&gt;-->
<!--                                    <hr/>-->
<!--                                {{/each}}-->
<!--                            </td>-->
<!--                            <td style="margin-top: 50px">-->
<!--                                {{#each this.temp}}-->
<!--                                    &lt;!&ndash;                                                    <div style="margin-top: 50px">temp:{{this.value}} *C</div>&ndash;&gt;-->
<!--                                    <div style="margin-top: 50px"><b>Thời gian đo:</b>{{this.real_time}}-->
<!--                                    </div>-->
<!--                                    <hr/>-->
<!--                                {{/each}}-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                    {{/each}}-->

<!--                    </tbody>-->
<!--                </table>-->
<!--            </div>&lt;!&ndash; End &ndash;&gt;-->

<!--        </div>-->

<!--    </div>-->
<!--    <footer class="bg-white sticky-footer"></footer>-->
<!--</div>-->
<!--<a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>-->
<!--</div>-->
<!--<script>-->
<!--    $("#sumbmit").click(function () {-->
<!--        var name = $("#name").val();-->
<!--        swal({-->
<!--            title: "Thành công!",-->
<!--            text: "Bạn đã gọi bác sĩ thành công",-->
<!--            icon: "success",-->
<!--        });-->
<!--    });-->
<!--</script>-->


<!--<script src="bootstrap/js/bootstrap.min.js"></script>-->
<!--<script src="js/chart.min.js"></script>-->
<!--<script src="js/bs-init.js"></script>-->
<!--<script src="js/theme.js"></script>-->
<!--<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>-->
<!--<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>-->
<!--<script type="text/javascript" src="js/jquery.min.js"></script>-->
<!--<script type="text/javascript" src="js/popper.min.js"></script>-->
<!--<script type="text/javascript" src="js/bootstrap.min.js"></script>-->
<!--<script type="text/javascript" src="js/mdb.min.js"></script>-->
<!--<style type="text/css">-->
<!--    body {-->
<!--        color: #6F8BA4;-->
<!--        margin-top: 20px;-->
<!--    }-->

<!--    .section {-->
<!--        position: relative;-->
<!--    }-->

<!--    .gray-bg {-->
<!--        background-color: #f5f5f5;-->
<!--    }-->

<!--    img {-->
<!--        max-width: 100%;-->
<!--    }-->

<!--    img {-->
<!--        vertical-align: middle;-->
<!--        border-style: none;-->
<!--    }-->

<!--    /* About Me-->
<!-----------------------*/-->
<!--    .about-text h3 {-->
<!--        font-size: 45px;-->
<!--        font-weight: 700;-->
<!--        margin: 0 0 6px;-->
<!--    }-->

<!--    @media (max-width: 767px) {-->
<!--        .about-text h3 {-->
<!--            font-size: 35px;-->
<!--        }-->
<!--    }-->

<!--    .about-text h6 {-->
<!--        font-weight: 600;-->
<!--        margin-bottom: 15px;-->
<!--    }-->

<!--    @media (max-width: 767px) {-->
<!--        .about-text h6 {-->
<!--            font-size: 18px;-->
<!--        }-->
<!--    }-->

<!--    .about-text p {-->
<!--        font-size: 18px;-->
<!--        max-width: 450px;-->
<!--    }-->

<!--    .about-text p mark {-->
<!--        font-weight: 600;-->
<!--        color: #20247b;-->
<!--    }-->

<!--    .about-list {-->
<!--        padding-top: 10px;-->
<!--    }-->

<!--    .about-list .media {-->
<!--        padding: 5px 0;-->
<!--    }-->

<!--    .about-list label {-->
<!--        color: #20247b;-->
<!--        font-weight: 600;-->
<!--        width: 88px;-->
<!--        margin: 0;-->
<!--        position: relative;-->
<!--    }-->

<!--    .about-list label:after {-->
<!--        content: "";-->
<!--        position: absolute;-->
<!--        top: 0;-->
<!--        bottom: 0;-->
<!--        right: 11px;-->
<!--        width: 1px;-->
<!--        height: 12px;-->
<!--        background: #20247b;-->
<!--        -moz-transform: rotate(15deg);-->
<!--        -o-transform: rotate(15deg);-->
<!--        -ms-transform: rotate(15deg);-->
<!--        -webkit-transform: rotate(15deg);-->
<!--        transform: rotate(15deg);-->
<!--        margin: auto;-->
<!--        opacity: 0.5;-->
<!--    }-->

<!--    .about-list p {-->
<!--        margin: 0;-->
<!--        font-size: 15px;-->
<!--    }-->

<!--    @media (max-width: 991px) {-->
<!--        .about-avatar {-->
<!--            margin-top: 30px;-->
<!--        }-->
<!--    }-->

<!--    .about-section .counter {-->
<!--        padding: 22px 20px;-->
<!--        background: #ffffff;-->
<!--        border-radius: 10px;-->
<!--        box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);-->
<!--    }-->

<!--    .about-section .counter .count-data {-->
<!--        margin-top: 10px;-->
<!--        margin-bottom: 10px;-->
<!--    }-->

<!--    .about-section .counter .count {-->
<!--        font-weight: 700;-->
<!--        color: #20247b;-->
<!--        margin: 0 0 5px;-->
<!--    }-->

<!--    .about-section .counter p {-->
<!--        font-weight: 600;-->
<!--        margin: 0;-->
<!--    }-->

<!--    mark {-->
<!--        background-image: linear-gradient(rgba(252, 83, 86, 0.6), rgba(252, 83, 86, 0.6));-->
<!--        background-size: 100% 3px;-->
<!--        background-repeat: no-repeat;-->
<!--        background-position: 0 bottom;-->
<!--        background-color: transparent;-->
<!--        padding: 0;-->
<!--        color: currentColor;-->
<!--    }-->

<!--    .theme-color {-->
<!--        color: #fc5356;-->
<!--    }-->

<!--    .dark-color {-->
<!--        color: #20247b;-->
<!--        margin-left: 15px;-->
<!--    }-->
<!--</style>-->

<!--<script type="text/javascript"></script>-->
<!--</body>-->

<!--</html>-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Users / Profile - NiceAdmin Bootstrap Template</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="css/style.css" type="text/css" rel="stylesheet">
    <style>

    </style>

    <!-- =======================================================
    * Template Name: NiceAdmin - v2.2.0
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center">
            <img src="assets/img/logo.png" alt="">
            <span class="d-none d-lg-block">NiceAdmin</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
        <form class="search-form d-flex align-items-center" method="POST" action="#">
            <input type="text" name="query" placeholder="Search" title="Enter search keyword">
            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
        </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

            <li class="nav-item d-block d-lg-none">
                <a class="nav-link nav-icon search-bar-toggle " href="#">
                    <i class="bi bi-search"></i>
                </a>
            </li><!-- End Search Icon-->

            <li class="nav-item dropdown">

                <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-bell"></i>
                    <span class="badge bg-primary badge-number">4</span>
                </a><!-- End Notification Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                    <li class="dropdown-header">
                        You have 4 new notifications
                        <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-exclamation-circle text-warning"></i>
                        <div>
                            <h4>Lorem Ipsum</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>30 min. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-x-circle text-danger"></i>
                        <div>
                            <h4>Atque rerum nesciunt</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>1 hr. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-check-circle text-success"></i>
                        <div>
                            <h4>Sit rerum fuga</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>2 hrs. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-info-circle text-primary"></i>
                        <div>
                            <h4>Dicta reprehenderit</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>4 hrs. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li class="dropdown-footer">
                        <a href="#">Show all notifications</a>
                    </li>

                </ul><!-- End Notification Dropdown Items -->

            </li><!-- End Notification Nav -->

            <li class="nav-item dropdown">

                <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-chat-left-text"></i>
                    <span class="badge bg-success badge-number">3</span>
                </a><!-- End Messages Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
                    <li class="dropdown-header">
                        You have 3 new messages
                        <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="message-item">
                        <a href="#">
                            <img src="assets/img/messages-1.jpg" alt="" class="rounded-circle">
                            <div>
                                <h4>Maria Hudson</h4>
                                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                <p>4 hrs. ago</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="message-item">
                        <a href="#">
                            <img src="assets/img/messages-2.jpg" alt="" class="rounded-circle">
                            <div>
                                <h4>Anna Nelson</h4>
                                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                <p>6 hrs. ago</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="message-item">
                        <a href="#">
                            <img src="assets/img/messages-3.jpg" alt="" class="rounded-circle">
                            <div>
                                <h4>David Muldon</h4>
                                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                <p>8 hrs. ago</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="dropdown-footer">
                        <a href="#">Show all messages</a>
                    </li>

                </ul><!-- End Messages Dropdown Items -->

            </li><!-- End Messages Nav -->

            <li class="nav-item dropdown pe-3">

                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                    <span class="d-none d-md-block dropdown-toggle ps-2">K. Anderson</span>
                </a><!-- End Profile Iamge Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6>Kevin Anderson</h6>
                        <span>Web Designer</span>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                            <i class="bi bi-person"></i>
                            <span>My Profile</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                            <i class="bi bi-gear"></i>
                            <span>Account Settings</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                            <i class="bi bi-question-circle"></i>
                            <span>Need Help?</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Sign Out</span>
                        </a>
                    </li>

                </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->

        </ul>
    </nav><!-- End Icons Navigation -->

</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link collapsed" href="index.html">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>Components</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="components-alerts.html">
                        <i class="bi bi-circle"></i><span>Alerts</span>
                    </a>
                </li>
                <li>
                    <a href="components-accordion.html">
                        <i class="bi bi-circle"></i><span>Accordion</span>
                    </a>
                </li>
                <li>
                    <a href="components-badges.html">
                        <i class="bi bi-circle"></i><span>Badges</span>
                    </a>
                </li>
                <li>
                    <a href="components-breadcrumbs.html">
                        <i class="bi bi-circle"></i><span>Breadcrumbs</span>
                    </a>
                </li>
                <li>
                    <a href="components-buttons.html">
                        <i class="bi bi-circle"></i><span>Buttons</span>
                    </a>
                </li>
                <li>
                    <a href="components-cards.html">
                        <i class="bi bi-circle"></i><span>Cards</span>
                    </a>
                </li>
                <li>
                    <a href="components-carousel.html">
                        <i class="bi bi-circle"></i><span>Carousel</span>
                    </a>
                </li>
                <li>
                    <a href="components-list-group.html">
                        <i class="bi bi-circle"></i><span>List group</span>
                    </a>
                </li>
                <li>
                    <a href="components-modal.html">
                        <i class="bi bi-circle"></i><span>Modal</span>
                    </a>
                </li>
                <li>
                    <a href="components-tabs.html">
                        <i class="bi bi-circle"></i><span>Tabs</span>
                    </a>
                </li>
                <li>
                    <a href="components-pagination.html">
                        <i class="bi bi-circle"></i><span>Pagination</span>
                    </a>
                </li>
                <li>
                    <a href="components-progress.html">
                        <i class="bi bi-circle"></i><span>Progress</span>
                    </a>
                </li>
                <li>
                    <a href="components-spinners.html">
                        <i class="bi bi-circle"></i><span>Spinners</span>
                    </a>
                </li>
                <li>
                    <a href="components-tooltips.html">
                        <i class="bi bi-circle"></i><span>Tooltips</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Components Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-journal-text"></i><span>Forms</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="forms-elements.html">
                        <i class="bi bi-circle"></i><span>Form Elements</span>
                    </a>
                </li>
                <li>
                    <a href="forms-layouts.html">
                        <i class="bi bi-circle"></i><span>Form Layouts</span>
                    </a>
                </li>
                <li>
                    <a href="forms-editors.html">
                        <i class="bi bi-circle"></i><span>Form Editors</span>
                    </a>
                </li>
                <li>
                    <a href="forms-validation.html">
                        <i class="bi bi-circle"></i><span>Form Validation</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Forms Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-layout-text-window-reverse"></i><span>Tables</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="tables-general.html">
                        <i class="bi bi-circle"></i><span>General Tables</span>
                    </a>
                </li>
                <li>
                    <a href="tables-data.html">
                        <i class="bi bi-circle"></i><span>Data Tables</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Tables Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-bar-chart"></i><span>Charts</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="charts-chartjs.html">
                        <i class="bi bi-circle"></i><span>Chart.js</span>
                    </a>
                </li>
                <li>
                    <a href="charts-apexcharts.html">
                        <i class="bi bi-circle"></i><span>ApexCharts</span>
                    </a>
                </li>
                <li>
                    <a href="charts-echarts.html">
                        <i class="bi bi-circle"></i><span>ECharts</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Charts Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-gem"></i><span>Icons</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="icons-bootstrap.html">
                        <i class="bi bi-circle"></i><span>Bootstrap Icons</span>
                    </a>
                </li>
                <li>
                    <a href="icons-remix.html">
                        <i class="bi bi-circle"></i><span>Remix Icons</span>
                    </a>
                </li>
                <li>
                    <a href="icons-boxicons.html">
                        <i class="bi bi-circle"></i><span>Boxicons</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Icons Nav -->

        <li class="nav-heading">Pages</li>

        <li class="nav-item">
            <a class="nav-link " href="users-profile.html">
                <i class="bi bi-person"></i>
                <span>Profile</span>
            </a>
        </li><!-- End Profile Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="pages-faq.html">
                <i class="bi bi-question-circle"></i>
                <span>F.A.Q</span>
            </a>
        </li><!-- End F.A.Q Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="pages-contact.html">
                <i class="bi bi-envelope"></i>
                <span>Contact</span>
            </a>
        </li><!-- End Contact Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="pages-register.html">
                <i class="bi bi-card-list"></i>
                <span>Register</span>
            </a>
        </li><!-- End Register Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="pages-login.html">
                <i class="bi bi-box-arrow-in-right"></i>
                <span>Login</span>
            </a>
        </li><!-- End Login Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="pages-error-404.html">
                <i class="bi bi-dash-circle"></i>
                <span>Error 404</span>
            </a>
        </li><!-- End Error 404 Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="pages-blank.html">
                <i class="bi bi-file-earmark"></i>
                <span>Blank</span>
            </a>
        </li><!-- End Blank Page Nav -->

    </ul>

</aside><!-- End Sidebar-->

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Profile</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Users</li>
                <li class="breadcrumb-item active">Profile</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
        <div class="row">
            <div class="col-xl-4">

                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                        <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                        <h2>Kevin Anderson</h2>
                        <h3>Web Designer</h3>
                        <div class="social-links mt-2">
                            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-xl-8">

                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">

                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Settings</button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
                            </li>

                        </ul>
                        <div class="tab-content pt-2">

                            <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                <h5 class="card-title">About</h5>
                                <p class="small fst-italic">Sunt est soluta temporibus accusantium neque nam maiores cumque temporibus. Tempora libero non est unde veniam est qui dolor. Ut sunt iure rerum quae quisquam autem eveniet perspiciatis odit. Fuga sequi sed ea saepe at unde.</p>

                                <h5 class="card-title">Profile Details</h5>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">Full Name</div>
                                    <div class="col-lg-9 col-md-8">Kevin Anderson</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Company</div>
                                    <div class="col-lg-9 col-md-8">Lueilwitz, Wisoky and Leuschke</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Job</div>
                                    <div class="col-lg-9 col-md-8">Web Designer</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Country</div>
                                    <div class="col-lg-9 col-md-8">USA</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Address</div>
                                    <div class="col-lg-9 col-md-8">A108 Adam Street, New York, NY 535022</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Phone</div>
                                    <div class="col-lg-9 col-md-8">(436) 486-3538 x29071</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Email</div>
                                    <div class="col-lg-9 col-md-8">k.anderson@example.com</div>
                                </div>

                            </div>

                            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                                <!-- Profile Edit Form -->
                                <form>
                                    <div class="row mb-3">
                                        <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                                        <div class="col-md-8 col-lg-9">
                                            <img src="assets/img/profile-img.jpg" alt="Profile">
                                            <div class="pt-2">
                                                <a href="#" class="btn btn-primary btn-sm" title="Upload new profile image"><i class="bi bi-upload"></i></a>
                                                <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Full Name</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="fullName" type="text" class="form-control" id="fullName" value="Kevin Anderson">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="about" class="col-md-4 col-lg-3 col-form-label">About</label>
                                        <div class="col-md-8 col-lg-9">
                                            <textarea name="about" class="form-control" id="about" style="height: 100px">Sunt est soluta temporibus accusantium neque nam maiores cumque temporibus. Tempora libero non est unde veniam est qui dolor. Ut sunt iure rerum quae quisquam autem eveniet perspiciatis odit. Fuga sequi sed ea saepe at unde.</textarea>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="company" class="col-md-4 col-lg-3 col-form-label">Company</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="company" type="text" class="form-control" id="company" value="Lueilwitz, Wisoky and Leuschke">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Job" class="col-md-4 col-lg-3 col-form-label">Job</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="job" type="text" class="form-control" id="Job" value="Web Designer">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Country" class="col-md-4 col-lg-3 col-form-label">Country</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="country" type="text" class="form-control" id="Country" value="USA">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Address" class="col-md-4 col-lg-3 col-form-label">Address</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="address" type="text" class="form-control" id="Address" value="A108 Adam Street, New York, NY 535022">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Phone</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="phone" type="text" class="form-control" id="Phone" value="(436) 486-3538 x29071">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="email" type="email" class="form-control" id="Email" value="k.anderson@example.com">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Twitter" class="col-md-4 col-lg-3 col-form-label">Twitter Profile</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="twitter" type="text" class="form-control" id="Twitter" value="https://twitter.com/#">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Facebook" class="col-md-4 col-lg-3 col-form-label">Facebook Profile</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="facebook" type="text" class="form-control" id="Facebook" value="https://facebook.com/#">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Instagram" class="col-md-4 col-lg-3 col-form-label">Instagram Profile</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="instagram" type="text" class="form-control" id="Instagram" value="https://instagram.com/#">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Linkedin" class="col-md-4 col-lg-3 col-form-label">Linkedin Profile</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="linkedin" type="text" class="form-control" id="Linkedin" value="https://linkedin.com/#">
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                    </div>
                                </form><!-- End Profile Edit Form -->

                            </div>

                            <div class="tab-pane fade pt-3" id="profile-settings">

                                <!-- Settings Form -->
                                <form>

                                    <div class="row mb-3">
                                        <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Email Notifications</label>
                                        <div class="col-md-8 col-lg-9">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="changesMade" checked>
                                                <label class="form-check-label" for="changesMade">
                                                    Changes made to your account
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="newProducts" checked>
                                                <label class="form-check-label" for="newProducts">
                                                    Information on new products and services
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="proOffers">
                                                <label class="form-check-label" for="proOffers">
                                                    Marketing and promo offers
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="securityNotify" checked disabled>
                                                <label class="form-check-label" for="securityNotify">
                                                    Security alerts
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                    </div>
                                </form><!-- End settings Form -->

                            </div>

                            <div class="tab-pane fade pt-3" id="profile-change-password">
                                <!-- Change Password Form -->
                                <form>

                                    <div class="row mb-3">
                                        <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="password" type="password" class="form-control" id="currentPassword">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="newpassword" type="password" class="form-control" id="newPassword">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="renewpassword" type="password" class="form-control" id="renewPassword">
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Change Password</button>
                                    </div>
                                </form><!-- End Change Password Form -->

                            </div>

                        </div><!-- End Bordered Tabs -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="vendor/apexcharts/apexcharts.min.js"></script>
<script src="endor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="vendor/chart.js/chart.min.js"></script>
<script src="vendor/echarts/echarts.min.js"></script>
<script src="vendor/quill/quill.min.js"></script>
<script src="vendor/simple-datatables/simple-datatables.js"></script>
<script src="vendor/tinymce/tinymce.min.js"></script>
<script src="/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="js/main.js"></script>

</body>

</html>