<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center">
            <img src="assets/img/logo.png" alt="">
            <span class="d-none d-lg-block">Hệ thống quản trị</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
        <form class="search-form d-flex align-items-center" method="POST" action="/dashboard">
            <input type="text" name="query" placeholder="Tìm kiếm" title="Enter search keyword">
            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
        </form>
    </div><!-- End Search Bar -->



</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " href="/dashboard">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>Bệnh Nhân</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/list-patients">
                        <i class="bi bi-circle"></i><span>Danh Sách Bệnh Nhân</span>
                    </a>
                </li>
                <li>
                    <a href="/add-patient">
                        <i class="bi bi-circle"></i><span>Thêm Bệnh Nhân</span>
                    </a>
                </li>

            </ul>
        </li><!-- End Components Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-journal-text"></i><span>Bác sĩ</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/list">
                        <i class="bi bi-circle"></i><span>Danh sách bác sĩ</span>
                    </a>
                </li>
                <li>
                    <a href="forms-layouts.html">
                        <i class="bi bi-circle"></i><span>Thêm bác sĩ</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Forms Nav -->


        <li class="nav-heading">Pages</li>


        <li class="nav-item">
            <a class="nav-link collapsed" href="/">
                <i class="bi bi-question-circle"></i>
                <span>F.A.Q</span>
            </a>
        </li><!-- End F.A.Q Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="/contact/to">
                <i class="bi bi-envelope"></i>
                <span>Contact</span>
            </a>
        </li><!-- End Contact Page Nav -->


    </ul>

</aside>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Thông tin chi tiết bệnh nhân</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="/list-patients">Danh sách bệnh nhân</a></li>
                <li class="breadcrumb-item active">Thông tin bệnh nhân</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->


    </div>
    <section class="section profile">
        <div class="row">
            <div class="col-xl-4">

                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                        <img src="img/profile-img.jpg" alt="Profile" class="rounded-circle">
                        <h2>{{patient.name}}</h2>
                        <h3>Phòng {{patient.number_room}}</h3>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Gọi khẩn cấp</h5>
                                <p>Nếu thấy bệnh nhân không ổn hay gọi ngay bác sĩ đến nơi!</p>

                                <!-- Basic Modal -->
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                        data-bs-target="#basicModal">
                                    Gọi Khẩn Cấp
                                </button>
                                <div class="modal fade" id="basicModal" tabindex="-1">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <table class="table table-borderless">
                                                <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Name</th>
                                                    <th>State</th>
                                                    <th>Selection</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {{#each doctors}}
                                                    <tr>
                                                        <th scope="row" >{{id}}</th>
                                                        <td id="name">{{name}}</td>
                                                        <td>{{state}}</td>
                                                        <td>
                                                            <a id="sumbmit"
                                                               href="/updateStatus/{{this._id}}/{{../patient.key_device}}"
                                                               type="button"
                                                               onclick="document.getElementById('myform').submit();"
                                                               class="btn btn-danger btn-sm btn-rounded"><i
                                                                    class="fas fa-plane pr-2 pt-1"
                                                                    aria-hidden="true"> </i>Gọi hỗ trợ
                                                            </a>

                                                        </td>
                                                    </tr>
                                                {{/each}}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </div><!-- End Basic Modal-->

                        </div>
                    </div>

                </div>

            </div>

            <div class="col-xl-8">

                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">

                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">
                                    Tổng quan
                                </button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Chỉnh sửa
                                    bệnh nhân
                                </button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Lịch sử
                                    đo
                                </button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">
                                    Lịch sử điều trị
                                </button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change">Cập nhật
                                    tình trạng
                                </button>
                            </li>

                        </ul>
                        <div class="tab-content pt-2">

                            <div class="tab-pane fade show active profile-overview" id="profile-overview">

                                <h5 class="card-title">Thông tin bệnh nhân</h5>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">Họ và tên</div>
                                    <div class="col-lg-9 col-md-8">{{patient.name}}</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Thiết bị</div>
                                    <div class="col-lg-9 col-md-8">{{patient.key_device}}</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Số điên thoại</div>
                                    <div class="col-lg-9 col-md-8"> {{patient.phone}}</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Số phòng</div>
                                    <div class="col-lg-9 col-md-8"> {{patient.number_room}}</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Tuổi</div>
                                    <div class="col-lg-9 col-md-8">{{patient.age}}</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Tình trạng</div>
                                    <div class="col-lg-9 col-md-8">(436) 486-3538 x29071</div>
                                </div>


                            </div>

                            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                                <!-- Profile Edit Form -->
                                <form action="/update-patient" method="post">
                                    <div class="row mb-3">
                                        <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Ảnh</label>
                                        <div class="col-md-8 col-lg-9">
                                            <img src="img/profile-img.jpg" alt="Profile">
                                            <div class="pt-2">
                                                <a href="#" class="btn btn-primary btn-sm"
                                                   title="Upload new profile image"><i class="bi bi-upload"></i></a>
                                                <a href="#" class="btn btn-danger btn-sm"
                                                   title="Remove my profile image"><i class="bi bi-trash"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="fullName" class="col-md-4 col-lg-3 col-form-label">ID</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input readonly name="key" type="text" class="form-control" id="fullName"
                                                   value="{{patient._id}}">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="company" class="col-md-4 col-lg-3 col-form-label">Họ và tên</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="name" value="{{patient.name}}" type="text" class="form-control"
                                                   id="company">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Job" class="col-md-4 col-lg-3 col-form-label">Sinh nhật</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="birth_day" value="{{patient.birth_day}}" type="date"
                                                   class="form-control" id="Job">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Country" class="col-md-4 col-lg-3 col-form-label">Tuổi</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input type="number" class="form-control" id="Country" name="age"
                                                   value="{{patient.age}}">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Address" class="col-md-4 col-lg-3 col-form-label">Số điện
                                            thoại</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="phone" value="{{patient.phone}}" type="number"
                                                   class="form-control" id="Address">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Số phòng</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="number_room" value="{{patient.number_room}}" type="text"
                                                   class="form-control" id="Phone">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Key Device</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="key_device" value="{{patient.key_device}}" type="text"
                                                   class="form-control" id="Phone">
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Thay đổi</button>
                                    </div>
                                </form><!-- End Profile Edit Form -->

                            </div>

                            <div class="tab-pane fade pt-3" id="profile-settings">

                                <!-- Settings Form -->
                                <form>

                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Lịch sử đo bệnh nhân</h5>

                                            <!-- Table with stripped rows -->
                                            <table class="table table-striped">
                                                <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Nhịp Tim</th>
                                                    <th scope="col">SP02</th>
                                                    <th scope="col">Nhiệt độ</th>
                                                    <th scope="col">Thời gian</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {{#each device}}
                                                    <tr>
                                                        <th scope="row">1</th>
                                                        <td>{{#each this.heart}}
                                                            <div style="margin-top: 20px"><b>Nhịp tim:</b>{{this.value}}
                                                                nhịp/phút
                                                            </div>
                                                        {{/each}}
                                                        </td>
                                                        <td>
                                                            {{#each this.spO2}}
                                                                <div style="margin-top: 20px"><b>SPO2:</b>{{this.value}}
                                                                </div>
                                                            {{/each}}
                                                        </td>
                                                        <td>
                                                            {{#each this.temp}}
                                                                <div style="margin-top: 20px"><b>Nhiệt
                                                                    độ:</b>{{this.value}} nhịp/phút
                                                                </div>
                                                            {{/each}}
                                                        </td>
                                                        <td>{{#each this.temp}}

                                                            <div style="margin-top: 20px">{{moment real_time
                                                                                                   format="YYYY-MM-DD hh:MM"}}
                                                            </div>
                                                        {{/each}}</td>
                                                    </tr>
                                                {{/each}}


                                                </tbody>
                                            </table>
                                            <!-- End Table with stripped rows -->

                                        </div>
                                    </div>
                                </form><!-- End settings Form -->

                            </div>

                            <div class="tab-pane fade pt-3" id="profile-change-password">
                                <!-- Change Password Form -->
                                <!-- End Change Password Form -->
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Lịch sử điều trị</h5>
                                        <!-- Default Accordion -->
                                        <div class="accordion" id="accordionExample">
                                            {{#each device}}
                                                <div class="accordion-item">
                                                    {{#each this.track_history}}
                                                        <h2 class="accordion-header" id="headingOne">
                                                            <button class="accordion-button" type="button"
                                                                    data-bs-toggle="collapse"
                                                                    data-bs-target="#collapseOne" aria-expanded="true"
                                                                    aria-controls="collapseOne">
                                                                {{moment real_time format="YYYY-MM-DD"}}
                                                            </button>
                                                        </h2>
                                                        <div id="collapseOne" class="accordion-collapse collapse show"
                                                             aria-labelledby="headingOne"
                                                             data-bs-parent="#accordionExample">
                                                            <div class="accordion-body">
                                                                <p>{{this.value}} </p>
                                                            </div>
                                                        </div>
                                                    {{/each}}
                                                </div>

                                            {{/each}}
                                        </div><!-- End Default Accordion Example -->

                                    </div>
                                </div>

                            </div>

                            <div class="tab-pane fade pt-3" id="profile-change">
                                <!-- Change Password Form -->
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Cập nhật tình trạng của bệnh nhân</h5>

                                        <a type="button" class="btn btn-primary"
                                           href="/updateStatusPatient2/{{patient._id  }}">Đã khỏi bệnh</a>
                                        <a type="button" href="/updateStatusPatient1/{{patient._id  }}"
                                           class="btn btn-secondary">Tử Vong</a>


                                    </div>
                                </div>

                            </div>

                        </div><!-- End Bordered Tabs -->

                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--    report-->
    <div class="col-12">
        <div class="card">

            <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                        <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                </ul>
            </div>

            <div class="card-body">
                <h5 class="card-title">Biểu đồ thống kê <span>/Today</span></h5>

                <!-- Line Chart -->
                <div id="reportsChart"></div>

                <script>
                    var heart = [];
                    var sp02 = [];
                    var temp = [];
                    var date = [];
                        {{#each device}}
                            {{#each this.heart}}
                            heart.push({{this.value}});
                            date.push({{moment real_time format="YYYY-MM-DD"}})
                            {{/each}}
                            {{#each this.spO2}}
                            sp02.push({{this.value}});
                            {{/each}}
                            {{#each this.temp}}
                            temp.push({{this.value}});
                            {{/each}}
                        {{/each}}
                    document.addEventListener("DOMContentLoaded", () => {
                        new ApexCharts(document.querySelector("#reportsChart"), {
                            series: [{
                                name: 'Nhịp tim',
                                data: heart,
                            }, {
                                name: 'SP02',
                                data: sp02
                            }, {
                                name: 'Nhiệt độ',
                                data: temp
                            }],
                            chart: {
                                height: 350,
                                type: 'area',
                                toolbar: {
                                    show: true
                                },
                            },
                            markers: {
                                size: 4
                            },
                            colors: ['#4154f1', '#2eca6a', '#ff771d'],
                            fill: {
                                type: "gradient",
                                gradient: {
                                    shadeIntensity: 1,
                                    opacityFrom: 0.3,
                                    opacityTo: 0.4,
                                    stops: [0, 90, 100]
                                }
                            },
                            dataLabels: {
                                enabled: true
                            },
                            stroke: {
                                curve: 'smooth',
                                width: 2
                            },
                            // xaxis: {
                            //     type: 'text',
                            //     categories: date
                            // },

                        }).render();
                    });
                </script>
                <!-- End Line Chart -->

            </div>

        </div>
    </div><!-- End Reports -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->



